#contact {
  background-color: rgba(205, 23, 25, 1);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: 'din_alternatebold';
  font-size: 20px;
  letter-spacing: 0.6px;
}
